.table_bg {
        background-color: #000000;
}
.table_head{
        background-color: #223892;
        color: #FFFFFF;
}
.table_col_0{
        background-color: #223892;
        color: #FFFFFF;
}
.table_col_1{
        background-color: #122882;
        color: #FFFFFF;
}
